*{
    box-sizing: border-box;
    text-decoration: none;
}
#header{
        margin-left: 50px;
    height: 70px;
    width: 1400px;
    background-color: black;
       position:fixed ;
    z-index: 10;
    top: 0px;
    border-radius: 10px;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: #000000;
}
li a{
    color: white;
}
li a:hover{
    color: aqua;
}
#header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}
#intro{

    margin-top: 100px;
    margin-left: 50px;
    height: 670px;
    width: 1400px;
    background-color: rgb(2, 8, 110);
    display: flex;
    justify-content: space-between;
 
    
}


.img-container{
    height: 660px;
    width: 600px;
  background-color: rgb(11, 40, 74);
   clip-path: polygon(
   10% 0%,
   100% 0%,
   90% 100%,
   0% 100%
   );
   border-bottom: 10px solid blue;
}
.img-container img{
   position: relative;
   top: 150px;
}
.img-container h3{
    position: absolute;
    top:150PX;
    right: 150px;
    visibility: hidden;

    font-size: 45px;
    margin-bottom: 80px;
    text-shadow: 10px 10px 10px rgb(89, 87, 87);
     color: #fffefe;
  text-shadow:
    0 0 5px rgba(40, 184, 245, 0.7),
    0 0 15px rgba(160, 60, 253, 0.6);
    transform: scale(1.1);
}
.img-container:hover h3{
    visibility: visible;
    transform: scale(1.5);
    transition: 0.5s;
}
.content h1{
    font-size: 100px;
    margin-bottom: 20px;
    text-shadow: 10px 10px 10px rgb(89, 87, 87);
     color: #fffefe;
  text-shadow:
    0 0 5px rgba(40, 184, 245, 0.7),
    0 0 15px rgba(160, 60, 253, 0.6);
}
/* introduction */
.topself{
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 360px;
    position: relative;
    top: 80px;
}
#introduction{
      margin: 50px;
    margin-left: 50px;
    height: 670px;
    width: 1400px;
      background-color: rgb(2, 8, 110);
    display: flex;
    flex-direction: column;
    
    gap: 70px;
    align-items: center;
     
    
}

/* common */
.title{
    text-align: center;
    text-shadow: 10px 10px 10px rgb(89, 87, 87);
     color: #fffefe;
     position: absolute;
  text-shadow:
    0 0 5px rgba(40, 184, 245, 0.7),
    0 0 15px rgba(160, 60, 253, 0.6);
   
}
/* end */
.selfBox{
    height: 200px;
    width: 300px;
    background-color: rgb(11, 40, 74);
    box-shadow: 10px 10px 10px rgb(89, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}
.side{
    border-radius: 100px;
     color: greenyellow;
}
.game{
    background-image: url(./assets/game.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
   
}
.mySelf{
text-align: center;
letter-spacing: 2px;
}

.imgContainer{
    background-color: transparent;
    box-shadow: none;
}

/* knowledge */
#knowledge{
      margin: 50px;
    margin-left: 50px;
    height: 670px;
    width: 1400px;
      background-color: rgb(2, 8, 110);
    display:flex;
    justify-content: space-around;

      background-image: url(./assets/line.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position-x:350px;
    
}


.knowbox{
    height: 150px;
    width: 300px;
    background-color: rgb(11, 40, 74);
    box-shadow: 10px 10px 10px rgb(89, 87, 87);
  border-radius: 15px;
   
}
.frontend,.backend{
    background-color:transparent;
    box-shadow: none;
    
}
.center{
    align-self: center;
     background-color:transparent;
    box-shadow: none;

}
.front img{
    height: 120px;
    width: 300px;
    position: relative;
    /* margin-top: 20px; */

    left: 80px;
    bottom: 170px;
    object-fit: contain;

}
.back:nth-child(3) img{
    margin-top: 30px;
 height: 110px;
}
.back img{
    height: 120px;
    width: 300px;
    position: relative;
    /* margin-top: 20px; */

    left: 80px;
    bottom: 190px;
    object-fit: contain;

}
.front aside{
    font-size: 50px;
    color: yellow;
      position: relative;
    left: 0px;
    bottom: 60px;
   
}
.front,.back h1{
    color: white;
}

.frontend div{
    margin-bottom: 50px;
    margin-top: 50px;
}
.backend div{
   margin-bottom: 50px;
    margin-top: 50px;
}


/* we should  show the percentage  text z-index increase */

/* sub knowledge */
#sub-know{
    margin: 50px;
    margin-left: 50px;
    position: relative;
    bottom: 50px;
    height: 670px;
    width: 1400px;
   background-color: rgb(2, 8, 110);
    display:flex;
    justify-content: space-around;
}
#sub-know .pro{
        height: 150px;
    width: 300px;
    background-color: rgb(11, 40, 74);
    box-shadow: 10px 10px 10px rgb(89, 87, 87);
  border-radius: 15px;
   margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
 color: #fffefe;
 clip-path: polygon(
   10% 0%,
   100% 0%,
   90% 100%,
   0% 100%
   );
  }
#head {
        height: 150px;
    width: 300px;
    background-color: rgb(11, 40, 74);
    box-shadow: 10px 10px 10px rgb(89, 87, 87);
  border-radius: 15px;
   margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 color: #fffefe;

 
}
.level  img{
   width: 70px;
   height: 70px;
}
.skill img{
   width: 200px;
   height: 100px;
 
}
.pro h2{
    font-size: 20px;
      position: relative;
   bottom: 10px;
}
.pro a{
 color: orange;
}
.pro a:active{
    color: red;
}
.pro b {
    opacity: 0;
 display: none;

    transition: 0.5s ease;
}
.pro img{
opacity: 0;
 display: none;

    transition: 0.5s ease;
}
.pro div{
opacity: 0;
 display: none;

    transition: 0.5s ease;
}
.pro{
    max-height: fit-content;
       transition: 1.5s ease;
    
}
.pro:hover {
    transform: translateX(20px);
    max-height: none;
     b,h2,img,div{
        opacity: 1;
 display: inline;
       transform: translateY(20px);
    }   
    }

.skill b{
    visibility: hidden;

}

.skill:hover b{
    visibility: visible;
    transition: 0.5s;
}
/* english */
.star-rating {
    --rating: 0;
  font-size: 28px;
  letter-spacing: 6px;
  display: inline-block;
  position: relative;
  font-family: Arial, sans-serif;
}

/* Grey stars */
.star-rating::before {
  content: "★★★★★";
  color: #ddd;
}

/* Gold stars overlay */
.star-rating::after {
  content: "★★★★★";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(var(--rating) / 5 * 100%);
  overflow: hidden;
  color: #ffb703;
}

/* project */
#project{ margin: 50px;
    margin-left: 50px;
    height: 670px;
    width: 1400px;
   background-color: rgb(2, 8, 110);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectbox{
        height: 150px;
    width: 300px;
    background-color: rgb(11, 40, 74);
    box-shadow: 10px 10px 10px rgb(89, 87, 87);
  border-radius: 15px;
   margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 color: #fffefe;
}
.prob{
    display: flex;
    justify-content: space-around;
    }
.top ,.bottom{
    align-self:center ;
}
.projectbox{
    display: flex;
    flex-direction: column;
}
.projectbox b{
    animation: move 1s infinite;
}
@keyframes move {
    0%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
} 
.projectbox:hover{
    .logo{
        visibility: visible;
        transition: 0.5s;
            transform: scale(1.0.5);
             width: 300px;

    }
}
.projectbox img{
    height: 150px;
    width: 150px;
    border-radius: 90px;
    visibility: collapse;
    position: absolute;
    
}

/* Contact */
.contact-info{
   margin: 50px;
    margin-left: 50px;
    height: 300px;
    width: 1400px;
   background-color: rgb(2, 8, 110);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
#contact {
  text-align: center;
}
.Contact{
    
     color: #ffffff;
  text-shadow:
    0 0 5px rgba(40, 184, 245, 0.7),
    0 0 15px rgba(160, 60, 253, 0.6);
    font-size: xx-large;
   
}
.letter{
 text-shadow: 10px 10px 10px rgb(89, 87, 87);
     color: #fffefe;
  text-shadow:
    0 0 5px rgba(40, 184, 245, 0.7),
    0 0 15px rgba(160, 60, 253, 0.6);
    font-size: large;
   
}
.contact-info p {
  margin: 1rem 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.contact-info a:hover {
  text-decoration: underline;
}
/* animation */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#edecec 90%,#00000000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}